.navbar{
    display:flex;
    margin-left:10%;
    margin-right:10%;
    margin-top:5%;
    justify-content:space-around;
    background-color: teal;
    color:white;
}
.navbar>div>*{
    font-size: 40px;
    padding:20px;
}